@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Remove Default Margin and paddings for all HTML elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS variables to use any where in website (if you want to change theme one change here will apply to entire website) */
:root {
    --background-dark: rgb(0, 0, 0);
    --background-light: rgb(255, 255, 255);
    --text-dart: rgb(0, 0, 0);
    --text-light: rgb(255, 255, 255);
    --text-grey: #333333;
    --text-grey-light: #aeaeae;
    --line-grey: rgb(212, 212, 212);
    --purple-dark: #2F207E;
    --purple-light: #6450DE;
    --orange-dark: #943a1d;
    --orange-light: #d0542a;
    --button: #0171E3;
    --heigth52: 52px;
    --width1080: 1080px;
    --heigth400: 400px;
    --heigth1400: 1400px;
}

html {
    font-size: 13px;
}

body {
    font-family: sans-serif;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: var(--text-grey);
}

ul {
    list-style: none;
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

footer {
    padding-bottom: 3vw;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--line-grey);
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vw;
}

.space-height1 {
    height: var(--heigth52);
}

.space-height2 {
    height: var(--heigth400);
}

.space-height3 {
    height: var(--heigth1400);
}

/* 
nav-bar
 */
#nav-bar ul {
    letter-spacing: .5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--heigth52);
}

#nav-bar svg {
    width: 16px;
    height: 16px;
    color: var(--text-grey);
}

#brand-logo {
    width: 18px;
    height: 18px;
}

#nav-bar ul li:last-child {
    display: none;
}

/* 
iphone se
 */


.fix {
    position: fixed;
    top: 0;
    width: 100% !important;
    background-color: var(--background-light);
    z-index: 5;
}

#iphoneSE {
    letter-spacing: .5px;
    margin: 0 auto;
    width: var(--width1080);
    border-bottom: 1px solid var(--line-grey);
}

#iphoneSE .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--heigth52);
}

#iphoneSE ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#iphoneSE button {
    padding: .4rem 1.1rem;
    background-color: var(--button);
    color: var(--text-light);
    border-radius: 10rem;
    border: none;
}

/* 
ad
 */

#ad {
    overflow: hidden;
    font-size: 1.15rem;
    font-weight: 300;
    height: var(--heigth52);
    width: 100%;
    background-color: var(--background-light);
}

#ad .slogan {
    height: var(--heigth52);
    color: var(--text-light);
    background-color: var(--button);
    transition: transform .8s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
    transform: translateY(-52px);
}

#ad .slogan span a {
    transition: color 1s ease-in-out;
    color: var(--text-light);
}

#ad .slogan i {
    font-size: 10px;
}

/* 
room
 */
#zoom h2 {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 3.5rem 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#zoom {
    top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#zoom img {
    transform: translateX(100%) translateY(-126.5%) scale(5.3) rotate(0deg);
}

/* 
slide
*/
.clear::after {
    content: "";
    display: block;
    clear: both;
}

#slide {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    gap: 3.5rem;
}

#slide li {
    opacity: 0;
    transform: translateX(0%) scale(1);
}

#slide h2 {
    font-size: 3rem;
    font-weight: 550;
    line-height: 1.15;
}

#more-fun {
    width: 20%;
    background-image: linear-gradient(to right, var(--purple-dark), var(--purple-light));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#slide .desc-text {
    font-size: 1.8rem;
    font-weight: 590;
    letter-spacing: .5px;
    color: var(--text-grey-light);
    opacity: 0;
}


#slide .half-text {
    position: absolute;
    top: 480px;
    left: 145px;
    line-height: 1.1;
    font-size: 4rem;
    font-weight: 590;
    letter-spacing: .5px;
    background-image: linear-gradient(to right, var(--purple-dark), var(--purple-light));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#slide img {
    position: absolute;
    top: 300px;
    left: 720px;
    /* left: 75px; */
    height: 100vh;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#slide .mask {
    position: absolute;
    top: 300px;
    left: 0px;
    /* width: 720px; */
    width: 88px;
    height: 100%;
    background-color: var(--background-light);
}

/* 
display
*/
#display .content {
    position: relative;
}

#display ul li img {
    position: absolute;
}

#display ul li:nth-child(3) img {
    width: 42rem;
    left: 33%;
    top: 0rem;
    z-index: 0;
}

#display ul li:nth-child(2) img {
    width: 42rem;
    left: 33%;
    top: 0rem;
    z-index: 1;
}

#display ul li:nth-child(1) img {
    width: 42rem;
    left: 33%;
    top: 0rem;
    z-index: 2;
}

#display .half-text {
    position: absolute;
    top: 10rem;
    left: 33%;
    line-height: 1.1;
    font-size: 4rem;
    font-weight: 590;
    letter-spacing: .5px;
    background-image: linear-gradient(to right, var(--orange-dark), var(--orange-light));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* 
footer
 */

footer {
    height: 800px;
}


/*responsive*/
@media only screen and (max-width:1150px) {

    #header {
        height: 104px;
    }

    #iphoneSE, #nav-bar {
        width: 100%;
    }

    #nav-bar ul li:last-child {
        display: block;
    }

    #ad, .space {
        visibility: hidden;
    }

    .small-hide {
        display: none;
    }

    .container {
        width: 80vw;
    }

    #nav-bar svg {
        width: 20px;
        height: 20px;
    }

    /* 
    translateX: 15,  // Percentage
        translateY: 22,  // Percentage
        scale: 0.78,
        rotate: 90  
    */

    /* zoom */
    #zoom {
        width: 100vw;
        overflow: hidden;
    }

    #zoom h2 {
        opacity: 1;
    }

    #zoom img {
        transform: translateX(15%) translateY(22%) scale(0.78) rotate(90deg);
    }

    /* slide */
    #slide, #display {
        display: none;
        width: 100vw;
        overflow: hidden;
    }
}